@charset "UTF-8";

html {
    background-image: url("tree-background.png");
    background-size: cover;
}

body {
	padding: 10px;
	height: 100%;
    font-family: sans-serif;
    color: black;
   	/* background: rgba(225, 225, 225, .7); */
   	text-align: center;
   	line-height: 25px;
   	margin-left: 200px;
}

hr {
	background-color: black;
	height: 2px;
}

.title{
  font-family: 'Open Sans', sans-serif;
  color: #2b3030;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #4271f4 3px 2px 0;
  position: relative;

}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: #2b3030;
	text-decoration: none;
	font-weight: 600;
	line-height: 1;
	text-shadow: #4271f4 0.5px 0.5px 0;
	position: relative;
}

#proHist{
	position: relative;
	justify-content: center;
	align-self: center;
	vertical-align: middle;

}

/* Reference:
https://www.w3schools.com/css/css_navbar.asp */
.menu {
	overflow: hidden;
	/*background-color: black;*/
    margin: 0 auto;
    color: black;
    text-align: center;
    display: inline-block;
}

.menu a {
	float: left;
    /*background-color: black;*/
    color: black;
    display: block;
    padding: 5px 6px;
    text-decoration: underline;
    text-align: center;
    opacity: 0.7;
    margin-left: 5px;
    margin-right: 5px;
}

.menu a:hover {
    color: black;
    opacity: 1;
}

/* Reference: https://www.w3schools.com/html/html_lists.asp */
ul {
	list-style-type: circle;
	padding: 0;
}

li {
	padding-bottom: 4px;
}

.myPhoto {
	opacity: 1;
	max-width: 30%;
	float: right;
	margin: 3px;
	z-index: 1;
	border: black;
	border: 2px solid black;
}

.SideBar {
	width: 190px;
	position: fixed;
	top: 0px;
	left: 0;
	background: rgba(0, 0, 0, .7);
	margin: 3px;
	color: #b3b7bf;
	height: 97%;
	line-height: 30px;
	text-align: left;
	padding-left: 5px;
	padding-right: 5pt;
}

footer {
	margin: 10px;
	padding: 0px;
	bottom:0;
	width:100%;
	font-size: 0.5em;
	text-align: center;
	line-height: 10px;
}

.Imp {
	font-family: 'Open Sans', sans-serif;
	color: #d7dbe2;
	text-decoration: none;
	font-weight: 600;
	line-height: 1;
	text-shadow: #1a5fd8 1px 1px 0;
}

.paragraphs {
	background: rgba(225, 225, 225, .65);
}
